<!DOCTYPE html>

<head>
  <title>Droomhuis Event Gallery</title>
  <meta name="keywords" content="events, zele, dancing, happiness" />
  <meta name="description" content="icons8" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/css/fontawesome-all.min.css" rel="stylesheet">
  <link href="../../assets/css/gallery_misc.css" rel="stylesheet">
  <link href="../../assets/css/gallery_style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>

  <script src="../../assets/js/jquery-1.10.2.min.js"></script>
  <script src="../../assets/js/jquery.lightbox.js"></script>
  <script src="../../controller/gallery.js"></script>
  <script>
    function showhide() {
      var div = document.getElementById("newpost");
      if (div.style.display !== "none") {
        div.style.display = "none";
      } else {
        div.style.display = "block";
      }
    }
  </script>

</head>

<body>
  <div class="site-header">
    <div class="main-navigation">
      <div class="responsive_menu">
        <ul>
          <li><a class="home" at="nye" >NYE Events</a></li>
          <li><a class="home" at="opa" >Open Air</a></li>
          <li><a class="home" at="oud" >Oudburg Feest</a></li>
          <li><a class="home" at="pop" >Pop-up Cafe</a></li>
          <li><a class="home" at="san" >Los Santos</a></li>
          <li><a class="home" at="anr" >Appi & Roger</a></li>
          <li><a class="home" at="rvv" >Ronde Van Vlaanderen</a></li>
          <li><a class="home" at="pfs" >Park Feesters</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="row gallerygap">
          <div class="col-md-12 responsive-menu">
            <a href="#" class="menu-toggle-btn">
              <img class="menu-toggle-btn" id="burgermenu" src="../../assets/images/translogo.png">
            </a>
          </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.main-navigation -->
  </div> <!-- /.site-header -->
  <div id="menu-container">
    <h3 id="selectortag">select your event</h3>
    <div id="returnhome">
      <button id="button" onClick="window.location.href = '../../index.html';">return to homepage</button>
    </div>
    <!-- gallery start -->
    <h2 class="row col-md-12" id="title"></h2>
    <div class="content homepage" id="menu-1">
      <div class="container">
        <div class="row templaterow">
          <div class="hex col-sm-6">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6  hex-top2">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6  hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6  hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-offset hex-top1 hex-top2">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-top1 hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-top1  hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-top1  hex-top2">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="newpost" style="display:none;" class="container answer_list gallerytop">
        <div class="row templaterow">
          <div class="hex col-sm-6">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6  hex-top2">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6  hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6  hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-offset hex-top1 hex-top2">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-top1 hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-top1  hex-top3">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hex col-sm-6 hex-top1  hex-top2">
            <div>
              <div class="hexagon hexagon2 gallery-item">
                <div class="hexagon-in1">
                  <div class="hexagon-in2">
                    <div class="overlay">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="loadmore">
            <button class="gallery_more" id="button" onClick="showhide()">Load More</button>
          </div>
        </div>
      </div>
    </div>
    <!-- gallery end -->
    <!-- footer start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <span> &copy; Droomhuis 2020</span>
          </div>
        </div>
      </div>
      <!-- footer end -->
      <script>
        $('.gallery_more').click(function () {
          var $this = $(this);
          $this.toggleClass('gallery_more');
          if ($this.hasClass('gallery_more')) {
            $this.text('Load More');
          } else {
            $this.text('Load Less');
          }
        });
      </script>
</body>

</html>